bin/
pkg/
.DS_Store
*.pyc
*.swp
*.tfstate
*.tfstate*
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
.project
.eclipse.buildship.core.prefs
.terraform
.terraform/*
.terraform.lock.hcl
*.tfvars
release/wi-kubernetes-manifests.yaml
src/agent/keys/
src/agent-local/keys
src/agent-local/logs
src/agent-local/models
src/agent-local/tf_logs
src/agent-local/pod_logs
src/agent-local/__pycache__
